@charset "utf-8";
/* CSS Document */

body {
	margin:0px;
	padding:0px;
	background:#390d60;
	font-family:Arial, Helvetica, sans-serif;
	
}
a{
	text-decoration:none; }
#box-atas {
	margin:0px;
	background:#27212d;
	height:70px;
	width:100%;
	
}
#box-atas-con {
	width:1024px;
	height:70px;
	margin:0px;
	padding:0px;
}

#logo {
	width:27%;
	height:110px;
		float:left;
		background:#27212d;
	opacity:100%;
	z-index:99;
	
}
#navigasi {
	width:72%;
	height:70px;
	float:right;
	
}

#navigasi ul{list-style-type:none;
margin:0px;

font-size: 16px;
padding-left:0px;
float:left;

 }
 
 #navigasi li{ 
 display:inline-block;
 text-decoration: none;
 height:70px;
padding-top:25px;
transition: background 1s ease-in-out;
 
 
 
 }
  #navigasi ul li:hover{
	 background:#390d60;
	 height:40px;
	 transition: background 1s ease-in-out;
 }
 
 
 #navigasi a {
	 text-decoration:none;
	 font-family:Verdana, Geneva, sans-serif;
	 color:#FFF;
	 margin:10px;
 }
 
 #navigasi .search {
	 border:none;
	 height:25px;
 }
 #banner {
	 height:500px;
	 width:1350px;
	 background:url(image/banner2.jpg);
	 z-index:60;
	 margin-bottom:-160px;
 }
 
 #box-konten {
	 width:1024px;
	
	 height:450px;
	 margin-top:50px;
	 margin-bottom:50px; }
	 
	 #bgmenu {width:1024px;
	 height:50px;
	 background:#000;
	 opacity:0.6;
	 margin:1px;
	 #color:#FFF;
	 }
	 #menu {
		 color:#FFF;
		 text-align:right;
		 padding-top:10px;
		 padding-right:10px;
	 }
	 
	 
	 #konten {
		 width:1024px;
		 height:400px;
		 background:#FFF;
	 }
	 
	 #konten-kanan {
		 float:right;
		 width:700px;
		
		 
		 
	 }
	 
	 #subjudul{
	 background:#f39c12;
	  font-family:Arial, Helvetica, sans-serif;
	  color:#FFF;
	  height:50px;
	  font-size:30px;
	  padding-top:12px;
	  text-align:left;
	  margin-left:20px;
	  
	  
	  font-weight:bold;
	  
	 
	 margin:0px;
	 } 
	 
	 #slideberita {
		 height:100%;
		 width:px;
		 margin:0px;
		 
	 }
	 #gambarslideberita {
		 height:100%;
		 width:280px;
		 float:left;
		 margin:0px;
		 background:#F7F7F7;
		 padding-left:0px;
		 
	 }
	 #isislideberita{
		 height:100%;
		 width:380px;
		 float:right;
		 padding-right:30px;
		 padding-left:10px;
		 }
		 
		 #tgl-slide {
		 color:#dadada;
		 text-align:right;}
		 
		 #isislide{
			 text-align:left;
		 }
		 
	 #konten-kiri {float:left;
	 width:300px;
	 padding-right:2%;
	 }
	 #konten-kiri li{
		 border-bottom:medium #000;
		 padding-top:13x;
		 padding-bottom:15px;
		 }
		 
		  #konten-kiri li a{
		  text-decoration:none;
		  color:#003;}
	 
	 .bpopuler {
		 margin-top:20px;
		  font-size:35px;
	  padding-top:11px;
	  font-family:Arial, Helvetica, sans-serif;
	   
	  height:60px;
	  
	 }
	 
	 #konten-bawah {
		 width:1024px;
		 height:400px;
		 background:#FFF;
		 margin-bottom:20px;
		 margin-top:20px;
	 }
	 #konten-bawah h1{
		
	  font-family:Arial, Helvetica, sans-serif;
	  color:#2A2A2A;
	  height:50px;
	  font-size:30px;
	  padding-top:12px;
	  text-align:left;
	  margin-left:20px;
	  
	  
	  font-weight:bold;
	  
	 
	 margin:0px;
	 }
		 #berita-sekolah {
		 width:33%;
		 height:360px; 
		 float:left;
		 border-right:#390d60 dotted ;}
		 
		 
		 #berita-akademik {
		 width:33%;
		 height:360px;
		 float:left;
		 border-right:#390d60 dotted ; }
		 
		 
		 #bursa-kerja {
		 width:33%;
		 height:360px;
		 float:right; }
		 
		 
		 
		 }
	 
